.footer {
  padding: 20px;
  background-color: #000;
  margin-top: 20px;

  &Text {
    color: #fff;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
}